<h1>Edit movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

  <%= form_with(url: movie_path(@the_movie), method:"patch", data: { turbo: false }) do %>

  <div>
    <%= label_tag :title, "Title" %>

    <%= text_field_tag :title, @movie.title, {id: "title"} %>
  </div>

  <div>


        <%= label_tag :description, "Description" %>
        <%= text_area_tag :description, @movie.description, id: "description", rows: 3 %>

  </div>

<%= button_tag "Update movie"%>
<% end %>
