<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>


  <%= form_with(model: @movie, data: { turbo: false }) do |form| %>

  <div>
    <%= form.label :title, "Title" %>

    <%= form.text_field :title %>
  </div>

  <div>


        <%= form.label :description, "Description" %>
        <%= form.text_area :description, rows: 3 %>

  </div>

<%= form.button %>
<% end %>
